<html>
  <head>
    <style type="text/css">
      body {
        background: #826251;
        color: #FFE8D1;
      }
      div.container {
        max-width: 800px;
        margin: 100px auto;
        padding: 10px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Welcome to my site where I test out Docker and Nginx</h4>
      <p>Here is a random message:</p>
      <p>{{message}}</p>
      <p>You can refresh to get another random message</p>
      <p>Bye!</p>
    </div>
  </body>
</html>